:root {
    --area-dialog-background: #fff;
    --area-dialog-foreground: #000;
    --area-dialog-secondaryBackground: #f5f5f5;
    --area-dialog-secondaryForeground: #000;

    font-size: 16px;
}

.ant-form-item-control-input-content>[class*=ant-input],
.ant-form-item-control-input-content>[class*=ant-picker],
.ant-form-item-control-input-content>[class*=ant-btn] {
    text-align: start;
    width: 100%;
}

.ql-tooltip {
    z-index: 100000;
}

.rce-mbox {
    border-radius: 6px !important;
    box-shadow: 0 0 !important;
}

.rce-mbox-text:after {
    content: none !important;
}