.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.date {
    padding-block-end: 0.5rem;
}

.time {
    padding-block-start: 0.5rem;
}

.stats {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-inline: 0.5rem;
    gap: 0.25rem;
}